$primary: #1fb4c5;
$secondary: #f8f1ea;
$text-primary: #333333;
$text-secondary: #fb7f3a;

@import url("https://fonts.googleapis.com/css2?family=Trocchi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

ol,
ul,
li,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Trocchi", serif;
  margin: 0;
  font-weight: normal;
}
h2 {
  font-size: 40px;
  color: $text-primary;
  font-weight: normal;
  text-align: center;
}
p {
  margin: 0;
  color: $text-primary;
  font-size: 20px;
  font-weight: 300;
}
a {
  color: inherit;
  text-decoration: inherit;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 20px;
}
.module {
  padding: 75px 0;
  background: #ffffff;
}
.module--header {
  padding-top: 32px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo img {
    max-width: 194px;
    width: 100%;
  }

  &__menu {
    display: inline-flex;
    gap: 46px;
    li {
      list-style: none;
      a {
        font-size: 15px;
        color: #333333;
      }
    }
  }

  &__button {
    font-size: 15px;
  }
}

.button--teal {
  background-color: $primary;
  max-width: 200px;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
}

.banner-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;

  &__col {
    width: 50%;

    img {
      max-width: 500px;
      width: 100%;
    }
  }

  &__title {
    font-size: 55px;
    line-height: 64px;

    &--secondary {
      color: $text-secondary;
    }
  }

  &__text {
    margin: 36px 0;
  }

  &__button {
    font-size: 20px;
  }
}

.branding__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  img {
    max-width: 99px;
  }
}

.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  &__card {
    width: 24%;
    text-align: center;
  }

  &__img img {
    max-width: 200px;
    width: 100%;
  }

  &__text {
    font-family: "Trocchi", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #000000;
  }
}

.experience {
  &__header {
    text-align: center;
    color: $text-primary;
    padding-bottom: 100px;
  }
  &__text {
    max-width: 560px;
    margin: 20px auto 0;
  }
}

.experience-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  &__col {
    flex: 0 0 50%;

    img {
      max-width: 500px;
      width: 100%;
    }
  }
}

.experience-list li {
  font-size: 20px;
  color: $text-primary;

  &:before {
    content: "\2022";
    color: $text-secondary;
    font-weight: bold;
    display: inline-block;
    width: 10px;
    margin-left: -16px;
  }

  & + li {
    padding-top: 40px;
  }
}

.module--product {
  position: relative;
  border-bottom-left-radius: 100% 80px;
  border-bottom-right-radius: 100% 80px;
  margin: -40px 0px;
}

.product {
  &__header {
    max-width: 600px;
    margin: auto;
  }

  &__content {
    padding: 0 50px;
  }
}

.product-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;

  &--reverse {
    flex-direction: row-reverse;
  }

  &__col {
    width: 44%;

    img {
      width: 100%;
    }

    p {
      font-size: 30px;
      padding: 0px 32px;
    }

    span {
      color: $text-secondary;
    }
  }
}

.wave {
  position: relative;

  &:before,
  &:after {
    content: " ";
    position: absolute;
    right: 360px;
    bottom: 170px;
    display: block;
    background: url("/assets/svg/wave_1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 320px;
    height: 280px;
  }

  &--reverse:after {
    width: 340px;
    height: 290px;
    background: url("/assets/svg/wave_2.svg");
    bottom: 0;
    top: 150px;
    right: 360px;
  }
}

.module--contact {
  background-color: $secondary;
  padding-top: 115px;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  &__header,
  &__form {
    width: 50%;
  }

  &__title {
    text-align: left;
    padding-bottom: 15px;
  }

  &__form {
    input {
      width: 100%;
      border: 0;
      border-bottom: 1.5px solid black;
      background-color: transparent;
      padding: 10px 0;
      margin: 10px 0;

      &:focus {
        outline: none;
      }
    }

    &--50 {
      display: flex;
      gap: 5px;
    }
  }
}

.form__button {
  padding-top: 50px;
}

.module--testimonials {
  background-color: $primary;
}
.testimonials__header h2 {
  /* padding: 0 200px; */
  max-width: 700px;
  margin: auto;
  color: #ffffff;
}
.testimonial-row {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;

  &__col {
    background: #ffffff;
    width: 30%;
    padding: 32px;
    border-radius: 10px;
  }
}

.testimonial-card {
  display: flex;
  width: 100%;
  height: 100%;
  align-content: space-between;
  flex-wrap: wrap;
}
.testimonial-text {
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 20px;
}
.testimonial-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  /* padding-top: 45px; */
}
.testimonial-user__text p,
.testimonial-user__text b {
  font-size: 12px;
  line-height: 150%;
}

.module--pricing {
  background: $secondary;
}
.pricing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__img {
    flex: 0 0 50%;
    img {
      max-width: 400px;
      width: 100%;
    }
  }

  &__content p {
    font-size: 26px;
    line-height: 150%;
  }

  &__button {
    margin-top: 40px;
  }
}

.module--skills {
  position: relative;
  border-bottom-left-radius: 100% 80px;
  border-bottom-right-radius: 100% 80px;
  border-top-left-radius: 100% 80px;
  border-top-right-radius: 100% 80px;
  margin: -40px 0px;
}
.skills-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
  gap: 20px;

  &__col {
    img {
      max-width: 278px;
      width: 100%;
    }

    p {
      text-align: center;
      font-size: 22px;
    }
  }
}

.skills__button {
  text-align: center;
}

.module--footer {
  background: $secondary;
  padding-bottom: 32px;
}
.footer {
  text-align: center;

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
  }

  &__copyright {
    color: #141414;
  }
}

@media only screen and (max-width: 1100px) {
  h2 {
    font-size: 38px;
  }
  p {
    font-size: 18px;
  }
  .header {
    &__menu {
      gap: 16px;

      li {
        list-style: none;

        a {
          font-size: 13px;
        }
      }
    }
    &__button {
      font-size: 13px;
    }
  }

  .banner-row {
    &__title {
      font-size: 45px;
      line-height: 54px;
    }

    &__button {
      font-size: 18px;
    }
  }

  .service__text {
    font-size: 18px;
  }
  .experience-list {
    padding-left: 40px;
    li {
      font-size: 16px;

      & + li {
        padding-top: 20px;
      }
    }
  }

  .wave:before,
  .wave:after {
    display: none;
  }
  .product-row {
    &__col p {
      font-size: 26px;
    }
  }

  .testimonial-row {
    &__col {
      padding: 20px;
    }
  }
  .testimonial-text {
    font-size: 16px;
  }
  .testimonial-user__text p,
  .testimonial-user__text b {
    font-size: 11px;
    line-height: 150%;
  }
  .pricing {
    &__content p {
      font-size: 18px;
      padding-left: 20px;
    }
  }
  .pricing {
    &__button {
      padding-left: 20px;
    }
  }
  .skills-row {
    &__col p {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
  p {
    font-size: 16px;
  }
  .header {
    flex-direction: column;

    &__button {
      margin-top: 26px;
    }
  }

  .banner-row {
    flex-direction: column-reverse;

    &__col {
      width: 100%;
      text-align: center;
    }

    &__title {
      font-size: 32px;
      line-height: 40px;
    }

    &__button {
      font-size: 16px;
    }
  }

  .service {
    flex-direction: column;

    &__card {
      width: 100%;
      text-align: center;
    }

    &__text {
      font-size: 16px;
    }
  }

  .experience-row {
    flex-direction: column;
  }
  .experience-list li {
    font-size: 16px;
  }
  .product {
    &__content {
      padding: 0 0px;
    }
  }
  .product-row {
    &__col {
      width: 48%;

      p {
        font-size: 16px;
        padding: 0px 20px;
      }
    }
  }

  .contact {
    flex-direction: column;

    &__header,
    &__form {
      width: 100%;
    }

    &__title {
      text-align: center;
    }

    &__text {
      text-align: center;
    }
  }

  .testimonial-row {
    flex-direction: column;
    gap: 20px;
  }
  .testimonial-row__col {
    width: 100%;
  }
  .pricing {
    flex-direction: column;
    padding-bottom: 50px;
  }
  .pricing__content p {
    font-size: 16px;
    text-align: center;
  }
  .pricing__button {
    text-align: center;
  }
  .skills-row__col p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 575px) {
  .module {
    padding: 55px 0;
  }
  .branding__list {
    flex-wrap: wrap;
    gap: 20px;
  }
  .branding__list img {
    max-width: 70px;
  }
  .product-row {
    padding-top: 50px;
  }
  .product-row__col p {
    font-size: 16px;
    padding: 0px 0px;
  }
  .experience__header {
    padding-bottom: 50px;
  }
  .skills-row {
    flex-direction: column;
  }
}
@media only screen and (max-width: 400px) {
  h2 {
    font-size: 28px;
  }
  p {
    font-size: 14px;
  }
  .module--branding {
    padding: 20px 0 0;
  }
  .product-row__col p {
    font-size: 14px;
  }
}
